/* Start of the footer styles. No global styles  */
footer .footer-cols {
  display: grid;
  grid-gap: 8rem;
  grid-template-columns: repeat(4, 1fr);
  padding: 2rem;
  text-align: left;
  font-size: 14px;
}

footer {
  /* background-color: rgb(87, 85, 85); */
  color: #000;
}
footer .footer-cols ul {
  list-style: none;
}
footer .footer-cols ul li {
  margin-bottom: 20px;
}
footer img {
  margin-top: 0px;
  width: 180px;
  height: auto;
}

footer .footer-cols ul li a {
  text-decoration: none;
  
}
.socials {
  font-size: 1.5rem;
}
hr{
  margin: 0 30px;
}
footer .footer-cols ul li a:hover {
  background: none;
}
footer .footer-cols ul li:first-child {
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}
footer .footer-bottom {
  padding: 2rem;
  text-align: center;
  margin-bottom: 5rem;
}

img.logo {
  height: 60px;
}
hr{
  width: 200px;
  margin: 0 auto;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 768px) {
  footer .footer-cols {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    text-align: center;
  }
  footer .footer-cols ul li:first-child {
    font-size: 1rem;
  }
  footer .footer-cols ul li {
    margin-bottom: 15px;
  }
  .footer-bottom {
    margin-bottom: 2.5rem;
    width: 100px;
  }
}
